ul {
    list-style-type: none;
}

.posts {
    padding: 2%;
}
.comment:hover {
    background-color: #a9afba;
    color: white;
}

.username:hover {
    background-color: #a9afba;
    color: white;
}

.dashboard {
    margin-bottom: 20%;
    margin-top: 2%;
}

